<div class="container">
    <form class="register-card" [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
      <div class="register-title">
        Register
      </div>
      <mat-form-field class="form-full-width">
        <input matInput type="email" id="email" formControlName="email" placeholder="Email" required>
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">{{emailErrorMsg()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-full-width">
        <input matInput type="text" id="username" formControlName="username" placeholder="Username" required>
        <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">{{usernameErrorMsg()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-full-width">
        <input matInput type="password" formControlName="password" placeholder="Password" required>
        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">Password should contain at least 8 characters</mat-error>
      </mat-form-field>
      <mat-form-field class="form-full-width">
        <input matInput type="password" formControlName="pwConfirm" placeholder="Confirm Password" required>
        <mat-error *ngIf="pwConfirm.invalid && (pwConfirm.dirty || pwConfirm.touched)">{{pwComfirmErrorMsg()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button class="form-full-width" type="submit" [disabled]="registerForm.invalid">SIGN UP</button>
      <div class="signup-link">
          Already have an account? <a [routerLink]="['/login']">Sign In</a>
      </div>
    </form>
  </div>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">