.login-card {
    margin: auto;
    background-color: rgba(236, 239, 241, 0.0);
    max-width: 350px;
    padding: 20px;
}

.login-title {
    font-size: 2em;
    color: #37474F;
}

.form-full-width {
    width: 100%;
    margin-top: 5px;
}
.checkBox {
    color: #37474F;
    line-height: 40px;
}

.icon {
    color: #37474f;
}

.links {
    text-align: center;
}

a {
    text-decoration: none;
    color: #37474F;
}

button {
    outline: none;
    background-color: rgba(55, 71, 79, 0.8);
    color: whitesmoke;
    border-radius: 0;
}