.login-card {
    margin: auto;
    background-color: rgba(236, 239, 241, 0.0);
    max-width: 350px;
    padding: 20px;
}

.login-title {
    font-size: 2em;
    color: #37474F;
}

.form-full-width {
    width: 100%;
    margin-top: 5px;
}

.icon {
    color: #455A64;
}

.reset-link {
    text-align: right;
    margin-top: -12px;
    color: #37474F;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
    color: #37474F;
}

a {
    text-decoration: none;
    font-size: 1em;
    color: #455A64;
}

a:hover, .icon:hover {    
    color: #37474F;
}

button {
    outline: none;
    background-color: rgba(55, 71, 79, 0.8);
    color: whitesmoke;
    border-radius: 0;
}

.mat-raised-button {
    margin-top: 15px;
}